/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */

:root {
    color: green;
    background: #CDB4DB;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form > input {
  padding: 1em;
  border-radius: 10px;
  border: none;
}

form > button {
  padding: 1em;
  border-radius: 10px;
  border: none;
  background: #FFC8DD;
  color: green;
  font-weight: 900;
  cursor: pointer;
  transition: ease-in-out 1000ms;
}

form > button:hover {
  transform: rotate(360deg);
  transition: ease-in-out 1000ms;
}