section {
  display: flex !important;
  flex-direction: column !important;
  gap: 1em !important;
}

.send-form {
  display: flex;
  flex-direction: row !important;
  gap: .5em;
  margin-top: .5em;
}

.send-form > input {
  padding: 1em;
  border-radius: 10px;
  border: none;
  flex: 1;
}

.send-form > button {
  padding: 1em;
  border-radius: 10px;
  border: none;
  background: #FFC8DD;
  color: green;
  font-weight: 900;
  cursor: pointer;
  transition: ease-in-out 1000ms;
}

.send-form > button:hover {
  transform: rotate(360deg);
  transition: ease-in-out 1000ms;
}

#chat {
  width: 500px;
  overflow-y: scroll;
  height: 500px;
  background: #FFC8DD;
  border-radius: 10px;
  padding: .5em;
}

#chat::-webkit-scrollbar {
  display: none;
}

.message > p {
  font-weight: 900;
  font-size: x-large;
  max-width: 500px;
}

.message img {
  vertical-align: middle;
}

.image {
  max-width: 400px;
  max-height: 400px;
}

/* delete thsi later */
/* no */
@media screen and (max-width: 520px) {
  #chat {
    width: 300px;
  }

  .send-form {
    flex-direction: column !important;
  }

  .image {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-height: 845px) {
  #chat {
    height: 300px;
  }
}

@media screen and (max-height: 485px) {
  #chat {
    height: 150px;
  }
}