#emojiMenu {
    display: flex;
    background: #FFC8DD;
    padding: .5em;
    width: 500px;
    margin-top: .5em;
    border-radius: 10px;
    white-space: nowrap;
}

.availableEmotes {
    display: flex;
    gap: .5em;
    overflow-x: scroll;
    padding-bottom: .2em;
}

.availableEmotes::-webkit-scrollbar {
    display: block;
    height: 3px;
}

.availableEmotes::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

@media screen and (max-width: 520px) {
  #emojiMenu {
    width: 300px;
  }
}