.nav {
    display: flex;
    justify-content: space-around;
    background: #FFC8DD;
    padding: .5em 0;
    position: fixed;
    z-index: 999;
    align-items: center;
    width: 100%;
}

.nav > a {
    text-shadow: #A2D2FF 3px 3px;
    text-decoration: underline overline;
}

.links {
  display: flex;
  gap: 1em;
}