.nav {
    display: flex;
    justify-content: space-around;
    /* background: #FFC8DD; */
    background: rgb(255, 255, 255, 0);
    padding: .5em 0;
    position: fixed;
    z-index: 999;
    align-items: center;
    width: 100%;
}

a {
    color: green;
    text-decoration: none;
    font-size: xx-large;
}

a:hover {
    color: greenyellow;
    transition: ease-in-out 100ms;
}

.nav > a {
    text-shadow: #A2D2FF 3px 3px;
    text-decoration: underline overline;
}

.links > p {
  font-size: xx-large;
}

.links {
  display: flex;
  gap: 1em;
}

@media (max-width: 590px) {
  .nav {
    flex-direction: column;
  }
}

@media (max-width: 685px) {
  .links > p, .links > a {
    font-size: x-large;
  }
}