form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form > input {
  padding: 1em;
  border-radius: 10px;
  border: none;
}

form > button {
  padding: 1em;
  border-radius: 10px;
  border: none;
  background: #FFC8DD;
  color: green;
  font-weight: 900;
  cursor: pointer;
  transition: ease-in-out 1000ms;
}

form > button:hover {
  transform: rotate(360deg);
  transition: ease-in-out 1000ms;
}